.burger {
  display: block;
  width: 25px;
  border: none;
  background: transparent;
  position: relative;
  z-index: 6;
  outline: none;
  padding: 8px 0;
  > div,
  &::after,
  &::before {
    content: '';
    align-self: stretch;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: $primary-color;
    transition: 0.3s ease;
    transform-origin: center;
  }
  &::after,
  &::before {
    position: absolute;
    left: 0;
  }
  &::after {
    bottom: 0;
  }
  &::before {
    top: 0;
  }
}